@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box
}

html {
    font-family: "Aleo", serif;
    scroll-behavior: smooth
}

body {
    margin: 0;
    font-family: Raleway,sans-serif;
    background-color: #efefef;
    padding-bottom: 50px
}

img {

    display: block;
}

h1,h2,h3,p,ul {
    margin: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

input, button, select{
    font-family: inherit;
    
}
